.iniciar{
    font-size: 3vw;
    color: white;
    font-weight: bold;
}

.titulo{
        font-size: 5vw;
        color: azure;
}

body{
    background-color: hsla(219, 83%, 45%, 0.575);
}

.ingreso{
    color: white;
    font-size: 50px;
}

.datosUsuario{
    font-weight: bold;
    color: white;
    font-size: 20px;
}